*.py[cod]

# C extensions
*.so

# Packages
__pycache__

#idea
/.idea

#env
/env

#uwsgi
/uwsgi.log
/uwsgi.pid

#local files
/uwsgi.local.ini
/cas.log
/serve.sh
/static/gen
/static/.webassets-cache
*.bak
*.orig
/config.py
*.db

