class Configuration(object):
    DATABASE = {
        'name': 'tuangou',
        'engine': 'peewee.MySQLDatabase',
        'host': '127.0.0.1',
        'port': 3306,
        'user': 'root',
        'passwd': '123456',
        'threadlocals': True,
    }
    DEBUG = True
    SECRET_KEY = 'bf1edf6b2d0f3a91f9d7d55d51e89e5779bb1e579bee'
    WX_APP_ID = 'xxxix'
    WX_APP_SECRET = 'xxxii'