{% extends "layout.html" %}
{% block title %}
<title>我是团长</title>
{% endblock %}
{% block body %}
<div class="block-menu clear">
  <a href="小集体大白菜.html" class="menu1 menu-big fl">
    <img src="{{ url_for('static', filename='img/menu-cai-icon.png') }}">
    <span>菜</span>
  </a>
  <a href="小集体大白菜.html" class="menu2 fr">
    <img src="{{ url_for('static', filename='img/menu-jiu-icon.png') }}">
    <span>酒</span>
  </a>
  <a href="小集体大白菜.html" class="menu3 fr"></a>
  <a href="小集体大白菜.html" class="menu4 menu-big fr">
    <img src="{{ url_for('static', filename='img/menu-cai-icon.png') }}">
    <span>菜</span>
  </a>
  <a href="小集体大白菜.html" class="menu5 fl">
    <img src="{{ url_for('static', filename='img/menu-jiu-icon.png') }}">
    <span>酒</span>
  </a>
  <a href="小集体大白菜.html" class="menu6 fl"></a>
  <a href="小集体大白菜.html" class="menu1 menu-big fl">
    <img src="{{ url_for('static', filename='img/menu-cai-icon.png') }}">
    <span>菜</span>
  </a>
  <a href="小集体大白菜.html" class="menu2 fr">
    <img src="{{ url_for('static', filename='img/menu-jiu-icon.png') }}">
    <span>酒</span>
  </a>
  <a href="小集体大白菜.html" class="menu3 fr"></a>
  <a href="小集体大白菜.html" class="menu4 menu-big fr">
    <img src="{{ url_for('static', filename='img/menu-cai-icon.png') }}">
    <span>菜</span>
  </a>
  <a href="小集体大白菜.html" class="menu5 fl">
    <img src="{{ url_for('static', filename='img/menu-jiu-icon.png') }}">
    <span>酒</span>
  </a>
  <a href="小集体大白菜.html" class="menu6 fl"></a>
</div>
<div class="btn-create-group"></div>
<div class="btn-create-group-fixed-bg"></div>
<a href="#" class="btn-create-group btn-create-group-fixed">添加新的商品</a>
{% endblock body %}