{% extends "layout.html" %}

{% block title %}<title>团购助手-我是团长</title>{% endblock %}

{% block body %}
<div id="group_view_container" style="display: none">
  <div id="modal-container" style="display: none">
    <div class="btn-create-group-tips-bg"></div>
    <div class="pop-alert">
      <div class="txt">请给您的团一个好记忆的名称，譬如说是小集体大白菜团，也可以叫做老班我要买酒</div>
      <input class="input" type="text" id="group_add_title">

      <div class="clear pop-btn">
        <a href="#" id="group_add_cancel" class="fl">取消</a>
        <a href="#" id="group_add_submit" class="fr">确定</a>
      </div>
    </div>
  </div>

  <div class="block-menu clear" id="group_list_container" style="margin-bottom:60px">
  </div>
  <div class="btn-create-group-fixed-bg"></div>
  <a href="#" class="btn-create-group btn-create-group-fixed" id="group_add">我要开团</a>
</div>

{% endblock body %}

{% block script %}
{{ super() }}
{% assets "leader_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>
wx.config({
  debug:     true,
  appId:     "{{ appid }}",
  timestamp: "{{ sign['timestamp']|safe }}",
  nonceStr:  "{{ sign['nonceStr']|safe }}",
  signature: "{{ sign['signature']|safe }}",
  jsApiList: ['checkJsApi', 'getNetworkType', 'previewImage']
});

wx.ready(function () {
  wx.checkJsApi({
    jsApiList: [
      'getNetworkType',
      'previewImage'
    ],
    success: function (res) {
      alert(JSON.stringify(res));
    }
  });
});

var wxUser = {{ wx_user_data|safe }}

groupView = new int_app.View.GroupListView({wxUser: wxUser});

// 路由，默认到groupList
appRouter = Backbone.Router.extend({
  routes: {
    "group/":     "groupList",
    "group/:id/": "productList",
    "group/:id/summary/": "groupSummary",
    "*path":      "groupList"
  },
  groupList : function(path) {
    console.log('group detail route triggered. path:' + path);
    this.loadView(groupView);
  },
  productList : function(id) {
    console.log('group product list route triggered. id:' + id);
    this.loadView(new int_app.View.ProductListView({group_id: id}));
  },
  groupSummary : function(id) {
    console.log('group summary route triggered. id:' + id);
    this.loadView(new int_app.View.GroupSummaryView({group_id: id}));
  },
  loadView : function(view) {
		this.view && (this.view.close ? this.view.close() : this.view.remove());
		this.view = view;
		this.view.render();
	}
});

var router = new appRouter();
Backbone.history.start();

</script>

{% endblock script %}
