{% extends "layout.html" %}

{% block title %}<title>团购助手-我是团员</title>{% endblock %}

{% block body %}
<div id="group_view_container" style="display: none">
  <div class="block-menu clear" id="group_list_container">

  </div>
</div>

<script type="text/template" id="purchase_panel_template">
  <div class="goods-footer-bar clear">
    <a class="checkbox fl all-toggle"></a>
    <div class="fl count"></div>
    <div class="fr goods-list-btns">
      <a class="btn2 submit"></a>
      <a class="btn3 summary"></a>
    </div>
  </div>
</script>
{% endblock body %}

{% block script %}
{{ super() }}
{% assets "member_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>
var wxUser = {{ wx_user_data|safe }}

groupView = new int_app.View.GroupListView();

appRouter = Backbone.Router.extend({
  routes: {
    "group/":     "groupList",
    "group/:id/": "purchaseList",
    "group/:id/summary/": "groupSummary",
    "*path":      "groupList"
  },
  groupList : function(path) {
    this.loadView(groupView);
  },
  purchaseList : function(id) {
    this.loadView(new int_app.View.PurchaseListView({wx_user_id: wxUser.id, group_id: id}));
  },
  groupSummary : function(id) {
    this.loadView(new int_app.View.GroupSummaryView({group_id: id}));
  },
  loadView : function(view) {
		this.view && (this.view.close ? this.view.close() : this.view.remove());
		this.view = view;
		this.view.render();
	}
});

var router = new appRouter();
Backbone.history.start();

</script>
{% endblock script %}
